[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "downloadpytorch"

[packages]
accelerate = "*"
numpy = "*"
optimum = "*"
pydantic = "*"
pydantic-settings = "*"
safetensors = "*"
torch = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
transformers = "~=4.38.2"
websockets = "*"
aiohttp = ">=3.8.5"
certifi = ">=2023.07.22"
pycountry = "*"
librosa = "*"
bitsandbytes = "*"
flash-attn = {version = "*", sys_platform = "!= 'win32'"}

[dev-packages]
bandit = "*"
datasets = "*"
librosa = "*"
numba = "*"
numpy = "*"
pyaudio = "*"

[requires]
python_version = "3.10"
